@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,400i,700,700i|Source+Sans+Pro:400,700|Source+Code+Pro:400,700,400i,700i');

/*@import url('https://fonts.googleapis.com/css?family=PT+Mono|Source+Serif+Pro:400,400i,700,700i|Source+Sans+Pro:400,700|PT+Sans+Narrow:400,700|Source+Code+Pro:400,700,400i,700i|PT+Serif:400,400i,700,700i'); */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

.book .book-body .page-wrapper .page-inner section {
  line-height: 1.7;
  font-size: 1.6rem;
}

p, div {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.6rem;
}

li, h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
}

code, kbd, pre, samp, .sourceLine, .sourceCode {
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

  /* all TOC list items, basically */

.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #2f5175;
}

.rmdcomment {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5;
  position:relative;
}

.rmdcomment:before {
    content: "\f075";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:0px;
    font-size: 45px;
 }
 
 .question {
  padding: 1em 1em 1em 5em;
  margin-bottom: px;
  background: #A6D6D5   ;
  border:solid 1px #247A78;
  border-radius: 10px;
  box-shadow:0px 0px 0px #000;
  position:relative;
}

.question:before {
    font-family: "FontAwesome";
    content: "\f19d";
    left:5px;
    right:1px;
    font-weight: 900;
    position:absolute;
    top:0px;
    font-size: 45px;
 }
 
 .pkg {
  color: #4a5858;
  padding: 0 3px;
  margin: 0 2px;
  border: 1px solid #7c9393;
  box-shadow: 2px 2px 0px 0px rgba(124,147,147,1);
}

.pkg a:hover, .pkg a:focus {
  border: none;
  padding: 0 2px !important;
}
